.characterList__header{
    display: flex;
    padding-left: 140px;
    flex-direction: row;
    justify-content: flex-start;
    background: rgba(229, 234, 244, 0.25);
}
.characterList__header p{
    width: 200px;
    text-align: left;
}
.characterList__list{
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}
.characterList__list__element__wrapper{
    padding-left: 140px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 76px;
    border-bottom: 1px solid #E5EAF4;
}
.material-icons{
    height: fit-content;
}
.characterList__list__element p{
   width: 200px;
   height: fit-content;
   text-align: left;
}
.characterList__list__element img{
    width: 43px;
    height: 68px;
    object-fit:fill
}
.searchBar__Container{
    height: 134px;
    padding-left: 140px;
    border-bottom: 2px solid #E5EAF4;
    display: flex;
    align-items: center;
}
.searchar__Wrapper{
    width: 825px;
    display: flex;
    justify-content: space-between;
}
.searchBar__Title{
    width: 240px;
    height: 70px;
}
.searchBar__Input{
    height: 100%;
    width: 100%;
    font-size: 12pt;
    border: none;
    background: none;
    font-weight: bold;
    line-height: 150%;
    font-family: 'Poppins', sans-serif;
}
::placeholder{
    color:#A9B1BD;
}
.searchBar__Wrapper{
    width: 495px;
    height: 56px;
    border: 1px solid #A9B1BD;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.searchIcon{
    width: min-content;
    height: min-content;
    color: #11B0C8;
}
.searchBar__Input:focus-visible{
    outline: none;
}
.characterTable_displaySelector_wrapper{
    height: 55px;
    margin-left: 140px;
    display: flex;
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.characterTable_displaySelector{
    height: 30px;
    width: fit-content;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 150%;
    font-family: 'Poppins', sans-serif;
    color: #11B0C8;
}
.characterTable_displaySelector.active{
    border-bottom: 3px solid #11B0C8;
}
.characterList__list__element__genderWrapper{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.characterList__list__element__genderWrapper p{
    padding-left: 10px;
    width: fit-content;
}
.toggleFavorite{
    cursor: pointer;
    color:#11B0C8;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    border: 2px solid #11B0C8;
    border-radius:8px;
}
.toggleFavorite.active{
    cursor: pointer;
    background-color:#11B0C8;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    border: 2px solid #11B0C8;
    border-radius:8px;
}
.imageWapper{
    width: 200px;
    display: flex;
}